<!doctype html>

<html>
<head>
	<title>Space Website Demo</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/myStyle.css') }}"> 
</head>
<body>
    <div id="page">
        <div id="header">
            <div>
                <a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
                <ul id="navigation">
                    <li class="selected">
                        <a href="/index">Home</a>
                    </li>
                    <li>
						<a href="/about">About</a>
					</li>
                </ul>
            </div>
        </div>
        <div id="body" class="about">
            <div class="header">
                <div>
					<h1>About</h1>
					<h2>We Have Free Offers for Everyone</h2>
					<p>Our website is created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, it's absolutely free! You can do a lot with them. You can modify them. You can use them to share your own ideas with us, so long as you agree with the <a href="/about">Terms of Use.</a></p>
                </div>
            </div>
            <div class="body">
				<div>
					<img src="images/earth-satellite.jpg" alt="">
					<h2>We Have More Information for You</h2>
					<p>Looking for more information? Just browse through our <a href="/about">Space Website</a> and find what you’re looking for. If you’re looking for something different, something special we love the challenge of doing something different and something special. Just let us know</p>
				</div>
            </div>
            <div class="footer">
				<div>
					<img src="images/space-shuttle.png" alt="">
					<h2>Be Part of Our Community</h2>
					<p>If you’re experiencing issues and concerns about this website, join the discussion <a href="/about">on our forum</a> and meet other people in the community who share the same interests with you.</p>
				</div>
			</div>
        </div>
        <div id="footer">
			<div class="connect">
				<div>
					<h1>FOLLOW OUR  MISSIONS ON</h1>
					<div>
						<a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
						<a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
						<a href="http://freewebsitetemplates.com/go/pinterest/" class="pinterest">pinterest</a>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2023 BY SPACE PROSPECTION | ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
    </div>
</body>